<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="ID_Local">ID Local</label>
          <input
            type="text"
            class="form-control"
            id="ID_Local"
            required
            [(ngModel)]="InputData.ID_Local"
            name="ID_Local"
          />
        </div>
        <div class="form-group">
          <label for="Fecha">Fecha</label>
          <input
            class="form-control"
            id="Fecha"
            required
            [(ngModel)]="InputData.Fecha"
            name="Fecha"
          />
        </div>
        <div class="form-group">
            <label for="UrlImagen">Url Imagen</label>
            <input
              class="form-control"
              id="UrlImagen"
              required
              [(ngModel)]="InputData.UrlImagen"
              name="UrlImagen"
            />
          </div>
        <button (click)="saveInputData()" class="btn btn-success">Enviar</button>
      </div>
      <div *ngIf="submitted">
        <h4>¡Envio exitoso!</h4>
        <button class="btn btn-success" (click)="newInputData()">Añadir</button>
      </div>
    </div>
  </div>